.first {
    background-image: url(/assets/ghost-6ce6c490.png);
}

.second {
    background-image: url(/assets/pumpkin-d5cb9db9.png);
}

.third {
    background-image: url(/assets/pumpkin-d5cb9db9.png);
}