.first {
    background-image: url(/images/ghost.png);
}

.first {
    background-image: url(/strip/images/ghost.png);
}

.second {
    background-image: url(/images/pumpkin.png);
}

.third {
    background-image: url(../images/pumpkin.png);
}