.first {
    background-image: url(/images/ghost-61865acd.png);
}

.first {
    background-image: url(/strip/images/ghost.png);
}

.second {
    background-image: url(/images/pumpkin-cb05ce1b.png);
}

.third {
    background-image: url(/images/pumpkin-cb05ce1b.png);
}